/*
--------------------------------------------------------------------------
Import
--------------------------------------------------------------------------
*/

@import "../bower_components/bootstrap/less/bootstrap.less";
@import url(http://fonts.googleapis.com/css?family=Roboto:500,100,300,100italic,400);

/*
--------------------------------------------------------------------------
 Basic Attributes
--------------------------------------------------------------------------
*/

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    .robo;
}

body {
	overflow-x: hidden;
}

* {
    outline: none !important;
    &:focus, &:hover, &:active {
        outline: none !important;
    }
}

a {
    &:hover, &:focus, &:active {
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
	list-style-type: none;
	padding: 0;
}

/*
--------------------------------------------------------------------------
 Variables
--------------------------------------------------------------------------
*/

@white: 	#FAFAFA;
@lightgray: #E0E0E0;
@gray: 		#616161;
@black: 	#212121;
@cyan: 		#00BCD4;
@blue: 		#2962FF;
@green: 	#009688;
@red: 		#FF3264;
@yellow: 	#FFEC00;
@purp: 		#4527A0;

@xs: 480px;
@sm: 768px;
@md: 992px;
@lg: 1200px;

.robo {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

/*
--------------------------------------------------------------------------
 Styles
--------------------------------------------------------------------------
*/

.wrapper {
	width: 100%;
	height: 100%;
}

.frame {
	width: 100%;
	height: 90%;
	position: relative;
}

.rotate-txt-slide {
	background-color: @red;
	color: @white;
	padding-top: 150px;
	.rw-sentence {
		span {
			color: @cyan;
		}
	}
	.rw-words {
		display: inline;
		span {
			position: absolute;
			opacity: 0;
			overflow: hidden;
			width: 100%;
			animation: rotateWords 3s linear infinite 0s;
			&:nth-child(1) {
				animation-delay: 1s;
			}
			&:nth-child(2) {
				animation-delay: 2s;
			}
			&:nth-child(3) {
				animation-delay: 3s;
			}

			@keyframes rotateWords {
    			0% { 
    				opacity: 1; 
    				animation-timing-function: linear;
    				height: 0px; 
    			}

    			8% { 
    				opacity: 1; 
    			}
    			19% { 
    				opacity: 1; 
    				height: 60px; 
    			}
				25% { 
					opacity: 0; 
					height: 60px; 
				}
    			100% { 
    				opacity: 0; 
    			}
			}
		}
	}
}

.sentence {
	padding-top: 50px;

}

#swap {
	color: @yellow;
}

.txt-box, .sentence {
	width: 1000px;
	margin: auto;
	h1 {
		font-size: 3.6em;
	}
}

.hide-txt {
	display: none;
}


.button {
    color: $white;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(34, 34, 34, 0.2);
    font-size: 22px;
    padding-top: 8px;
    transition: all 0.3s cubic-bezier(0, 0.89, 0, 1);
    display: block;
    &:hover {
        transform: translateY(-4px);
        box-shadow: 0px 10px 10px rgba(34, 34, 34, 0.2);
        font-size: 25px;
        padding-top: 5px;
        color: white;
    }
    &:active {
        transform: translateY(4px);
        box-shadow: 0px 0px 4px rgba(34, 34, 34, 0.2);
        font-size: 21px;
        padding-top: 9px;
        color: white;
    }
    &:visted {
        color: white;
    }
    &:focus {
        color: white;
    }
    &.twitter {
        background-color: #4CB5FF;
    }
    &.google {
        background-color: #E93045;
    }
    &.tumblr {
        background-color: #2C4762;
    }
    &.github {
        background-color: #4E277A;
    }
    &.arrow-down {
        background-color: pink;
        position: relative;
        top: 92vh;
        z-index: 9;
        margin: auto;
        opacity: 0;
    }
    &.arrow-right {
        background-color: green;
    }
}


 .about-container {
    padding-top: 80px;
        width: 600px;
        margin: 0 auto;
        position: relative;
        @media (max-width:650px) {
            width: 450px;
        }

        h1 {
        	color: white;
        }
    }
    .arrow-right {
        z-index: 9999;
        bottom: -20px;
        position: absolute;
        right: 3%;
    }
    .about-paper {
        position: relative;
        overflow: hidden;
        width: 600px;
        height: 500px;
        background-color: white;
        margin: auto;
        box-shadow: -1px 9px 25px -3px fade(black, 40%);

        @media (max-width:650px) {
            width: 450px;
        }

        p {
            font-size: 16px;
        }
        .paper-heading {
            height: 80px;
            padding-top: 20px;
            padding-left: 20px;
            width: 100%;
            &.bio {
                background-color: teal;
            }
            &.design {
                background-color: purple;
            }
            &.frontend {
                background-color: blue;
            }
        }
        .paper-content {
            padding: 20px;
            width: 100%;
        }
    }
    .paper-wrapper {
        position: relative;
        left: 0;
        width: 3000px;
        height: 100%;

        @media (max-width:650px) {
            width: 1350px;
        }
    }
    .paper {
        width: 600px;
        height: 100%;
        float: left;

        @media (max-width:650px) {
            width: 450px;
        }
    }

    .slider1 {
        background-color: @cyan;
    }

    .slider2 {
        background-color: @green;
        padding-top: 80px;
    }



    #slider {
        width: 300px;
        height: 200px;
        overflow: hidden;
        margin: auto;
        .slides {
            position: relative;
            width: 1200px;
            display: block;
            height: 200px;
            .slide {
                float: left;
                width: 300px;
                height: 200px;
            }
        }
    }